@import "tailwindcss";

@theme {
  --color-orange: #d87d4a;
  --color-light-orange: #fbaf85;
  --color-black: #000000;
  --color-darkGray: #101010;
  --color-lightGray: #f1f1f1;
  --color-white: #ffffff;

  --font-manrope: "Manrope", sans-serif;
}
