@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@tailwind utilities;

/* ✅ Define your custom font */
@theme {
  --font-manrope: "Manrope", sans-serif;

  /* Colors */
  --color-orange: #d87d4a;
  --color-lightOrange: #fbaf85;
  --color-white: #fff;
  --color-black: #000;
  --color-hoverBlack: #4c4c4c;
  --color-lightGray: #f1f1f1;
}

@keyframes image-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hover-bounce:hover img {
  animation: image-bounce 0.6s ease-in-out;
}

.custom-object-pos {
  object-position: 85%;
}

@media (min-width: 1024px) {
  .custom-object-pos {
    object-position: center;
  }
}
